<launch>

    <!-- IMU Publish frame id -->
    <arg name="imu_frame_id" default="imu_link"/>
    <arg name="pub_euler" default="false"/>

    <group ns="$(env UAV_NAME)">
        <rosparam command="load" file="$(find mrs_ingeniarius_real)/config/imu/config.yml" />
        <node name="witmotion_imu" pkg="witmotion_ros"  type="witmotion_ros_node" output="screen"/>
        <param name="witmotion_imu/imu_publisher/frame_id" value="$(env UAV_NAME)/$(arg imu_frame_id)"/>
        <param name="witmotion_imu/port" value="$(env IMU_PORT)"/>

        <!-- Debug quaternions to euler angles (rad) -->
        <group if="$(arg pub_euler)">
            <node pkg="topic_tools" type="transform" name="imu_euler_transf_node" output="screen" args="witmotion_imu/imu/orientation witmotion_imu/imu/euler geometry_msgs/Vector3 'tf.transformations.euler_from_quaternion([m.x, m.y, m.z, m.w])' -i tf" />
        </group>

    </group>
</launch>
