<?xml version="1.0"?>

<!-- export UAV_NAME="uavX" -->

<launch>

	<!-- tf2_ros syntax -->
    <!-- x y z yaw pitch roll frame_id child_frame_id-->

	<!-- World_map to  map-->
  	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_world_to_map"  args="0 0 0 0 0 0 $(env UAV_NAME)/fcu world_map"/> -->

	<!-- Pixhawk Real static-->
  	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_fcu"  args="0 0 0.03 0 0 0 $(env UAV_NAME)/base_link $(env UAV_NAME)/fcu"/> -->
	
	<!-- Pixhawk FCU = base_link-->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_fcu"  args="0 0 0 0 0 0 $(env UAV_NAME)/base_link $(env UAV_NAME)/fcu"/> -->

	<!-- IMU Pixhawk - transforms NED referenced data in imu_link_ned to ENU equivalent data in imu_pixhawk_link -->
  	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)/tf_imu_pixhawk_ned_enu"  args="0 0 0 -1.5708 0 3.1416 $(env UAV_NAME)/fcu $(env UAV_NAME)/imu_pixhawk_enu_link"/> -->

    <!-- IMU RION -->
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_imu_rion" 	args="0 0 -0.04 1.5708 0 0 $(env UAV_NAME)/fcu $(env UAV_NAME)/imu_rion"/> -->

    <!-- IMU WITmotion -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_imu" 	args="0 0 0.085 0 0 0 $(env UAV_NAME)/fcu $(env UAV_NAME)/imu_link"/>

	<!-- GPS -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_gps" 	args="-0.09 -0.05 0.2 0 0 0 $(env UAV_NAME)/fcu $(env UAV_NAME)/gnss_link"/>

	<!-- LIDAR -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_lidar" 	args="0 0 -0.16 1.5708 3.14159 0.174533 $(env UAV_NAME)/fcu $(env UAV_NAME)/lslidar_link"/>
	
	<!-- Garmin LIDAR 1D -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_garmin" 	args="0.11 0 0 0 1.5708 0 $(env UAV_NAME)/fcu $(env UAV_NAME)/garmin"/>

	<!-- waveshare TOF LIDAR UP -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_tofUp" 	args="0.11 0 0 0 -1.5708 0 $(env UAV_NAME)/fcu $(env UAV_NAME)/tof_sensor_0"/>

	<!-- FootPrint -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="$(env UAV_NAME)_base_to_footprint" 	args="0 0 -0.333 0 0 0 $(env UAV_NAME)/fcu $(env UAV_NAME)/base_footprint_link"/>

</launch>
