<?xml version="1" ?>
<launch>

    <arg name="robot_name" default="$(optenv UAV_NAME)"/>

    <!-- "Case" for uav6 -->
    <!-- <group if="$(eval arg('robot_name') == 'uav6')"> -->
        <arg name="target1" default="192.168.8.188"/>
        <arg name="port_target1" default="7116"/>

        <arg name="target2" default="192.168.8.254"/>
        <arg name="port_target2" default="8116"/>

        <arg name="target3" default="192.168.8.150"/>
        <arg name="port_target3" default="9116"/>
    <!-- </group> -->

    <!-- "Case" for uav7 -->
    <!-- <group if="$(eval arg('robot_name') == 'uav7')"> -->
        <!-- <arg name="target1" default="192.168.8.170"/>
        <arg name="port_target1" default="6117"/>

        <arg name="target2" default="192.168.8.254"/>
        <arg name="port_target2" default="8117"/>

        <arg name="target3" default="192.168.8.150"/>
        <arg name="port_target3" default="9117"/> -->
    <!-- </group> -->

    <!-- "Case" for uav8 -->
    <!-- <group if="$(eval arg('robot_name') == 'uav8')"> -->
        <!-- <arg name="target1" default="192.168.8.170"/>
        <arg name="port_target1" default="6118"/>

        <arg name="target2" default="192.168.8.188"/>
        <arg name="port_target2" default="7118"/>

        <arg name="target3" default="192.168.8.150"/>
        <arg name="port_target3" default="9118"/> -->
    <!-- </group> -->

    <!-- "Case" for uav9 -->
    <!-- <group if="$(eval arg('robot_name') == 'uav9')"> -->
        <!-- <arg name="target1" default="192.168.8.170"/>
        <arg name="port_target1" default="6119"/>

        <arg name="target2" default="192.168.8.188"/>
        <arg name="port_target2" default="7119"/>

        <arg name="target3" default="192.168.8.254"/>
        <arg name="port_target3" default="8119"/> -->
    <!-- </group> -->


    <group ns="$(arg robot_name)">

        <!-- The sender node -->
        <node name="dcl_sender1" pkg="nimbro_topic_transport" type="sender" output="screen">
            <!-- The destination host name or IP address -->
            <param name="destination_addr" value="$(arg target1)" />
            <param name="port" value="$(arg port_target1)" />
            <!-- Load the list of topics from a YAML file -->
            <rosparam command="load" file="$(find mrs_ingeniarius_real)/tmux/swarm_formation/config/nimbro/$(arg robot_name)_topics.yaml" />
        </node>

        <!-- The sender node -->
        <node name="dcl_sender2" pkg="nimbro_topic_transport" type="sender" output="screen">
            <!-- The destination host name or IP address -->
            <param name="destination_addr" value="$(arg target2)" />
            <param name="port" value="$(arg port_target2)" />
            <!-- Load the list of topics from a YAML file -->
            <rosparam command="load" file="$(find mrs_ingeniarius_real)/tmux/swarm_formation/config/nimbro/$(arg robot_name)_topics.yaml" />
        </node>

        <!-- The sender node -->
        <node name="dcl_sender3" pkg="nimbro_topic_transport" type="sender" output="screen">
            <!-- The destination host name or IP address -->
            <param name="destination_addr" value="$(arg target3)" />
            <param name="port" value="$(arg port_target3)" />
            <!-- Load the list of topics from a YAML file -->
            <rosparam command="load" file="$(find mrs_ingeniarius_real)/tmux/swarm_formation/config/nimbro/$(arg robot_name)_topics.yaml" />
        </node>
    </group>

</launch>
