<launch>

    <!-- args corresponding to environment variables -->
    <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />
    <arg name="UAV_NAMES" default="$(optenv UAV_NAMES)" />
    <arg name="COMPUTER_NAME" default="$(optenv COMPUTER_NAME)" />
    <arg name="ROS_CONFIG_PATH" default="$(optenv ROS_CONFIG_PATH)" />

    <arg name="rviz" default="false" />

    <group ns="$(arg UAV_NAME)">
      <rosparam file="$(arg ROS_CONFIG_PATH)/leishen.yaml" command="load" />    

      <param name="feature_extract_enable" type="bool" value="0"/>
      <param name="point_filter_num" type="int" value="4"/>
      <param name="max_iteration" type="int" value="3" />
      <param name="filter_size_surf" type="double" value="0.5" />
      <param name="filter_size_map" type="double" value="0.5" />
      <param name="cube_side_length" type="double" value="1000" />
      <param name="runtime_pos_log_enable" type="bool" value="0" />

      <!-- <param name="feature_extract_enable" type="bool" value="0"/>
      <param name="point_filter_num" type="int" value="2"/>
      <param name="max_iteration" type="int" value="5" />
      <param name="filter_size_surf" type="double" value="0.3" />
      <param name="filter_size_map" type="double" value="0.35" />
      <param name="cube_side_length" type="double" value="1600" />
      <param name="runtime_pos_log_enable" type="bool" value="0" /> -->

      <rosparam param="common/lid_topic" subst_value="true"> /$(arg UAV_NAME)/lslidar/pcl_filtered</rosparam>
      <!-- <rosparam param="common/imu_topic" subst_value="true"> /$(arg UAV_NAME)/hw_api/imu</rosparam> -->
      <rosparam param="common/imu_topic" subst_value="true"> /$(arg UAV_NAME)/mavros/imu/data_upsampled</rosparam>
      <rosparam param="common/altitude_topic" subst_value="true"> /$(arg UAV_NAME)/hw_api/distance_sensor</rosparam>
      <rosparam param="common/altitude_disable_service_name" subst_value="true"> /$(arg UAV_NAME)/fast_lio/disable_altitude_fusion</rosparam>
      <rosparam param="common/baselinkFrame" subst_value="true"> $(arg UAV_NAME)/fcu</rosparam>
      <rosparam param="common/odometryFrame" subst_value="true"> $(arg UAV_NAME)/odom</rosparam>

      <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen">
        <remap from="/cloud_registered" to="cloud_registered" />
        <remap from="/cloud_registered_body" to="cloud_registered_body" />
        <remap from="/cloud_effected" to="cloud_effected" />
        <remap from="/Laser_map" to="Laser_map" />
        <remap from="/Odometry" to="Odometry" />
        <remap from="/path" to="path" />
        <remap from="/global_map" to="global_map" />
      </node>
    </group>

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(arg ROS_CONFIG_PATH)/rviz/loam_mrs.rviz" />
    </group>

</launch>