<launch>

    <arg name="median_window" default="200"/>
    <arg name="ema_alpha" default="0.5"/>
    <arg name="max_jump_rate" default="2.0"/>
    <arg name="max_range" default="20.0"/>
    <arg name="bootstrap" default="false"/>
    <arg name="bootstrap_height" default="5.0"/>
    <arg name="bootstrap_time" default="100.0"/>
    <arg name="jump_check" default="false"/>

    <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>

    <group ns="$(arg UAV_NAME)">
        <node pkg="mrs_openswarm_utils" type="distance_filter" name="distance_filter" output="screen" respawn="true">
            <param name="median_window" value="$(arg median_window)"/>
            <param name="ema_alpha" value="$(arg ema_alpha)"/>
            <param name="max_jump_rate" value="$(arg max_jump_rate)"/>
            <param name="max_range" value="$(arg max_range)"/>
            <param name="bootstrap" value="$(arg bootstrap)"/>
            <param name="bootstrap_height" value="$(arg bootstrap_height)"/>
            <param name="bootstrap_time" value="$(arg bootstrap_time)"/>
            <param name="jump_check" value="$(arg jump_check)"/>
        </node>
    </group>

</launch>

<!-- How to Tune in Practice (Step-by-Step)

1) Hover over flat ground
    Tune ema_alpha → stable altitude
2) Fly over bushes
    Increase median_window until jitter disappears
3) Fly under obstacle
    Lower max_jump_rate until no climb reaction
4) Check logs
    Plot range_raw vs range_filtered (rqt_plot) -->