<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />
  <arg name="UAV_NAMES" default="$(optenv UAV_NAMES)" />
  <arg name="COMPUTER_NAME" default="$(optenv COMPUTER_NAME)" />
  <arg name="ROS_CONFIG_PATH" default="$(optenv ROS_CONFIG_PATH)" />

    <!-- Namespace - all topics, services and parameters will be remapped using this namespace as a prefix (eg.: "/waypoint_flier_simple/odom_uav_in" to "/uav1/waypoint_flier_simple/odom_uav_in") -->
  <group ns="$(arg UAV_NAME)">

    <node pkg="sweeping_generator" type="swarm_sweeping.py" name="sweeping_generator" output="screen">

      <!-- ROS parameters config file -->
      <rosparam file="$(arg ROS_CONFIG_PATH)/sweeping_generator.yaml" command="load" />

      <param name="uav_name" value="$(arg UAV_NAME)" />
      <param name="uav_names" type="yaml" value="$(arg UAV_NAMES)"/>
      <param name="computer_name" value="$(arg COMPUTER_NAME)" />

     <!-- Define the waypoint list as a parameter -->
      <!-- <param name="waypoint_list" type="yaml" value="[
          [10.0, 15.0, 1.5],
          [10.0, 30.0, 1.5],
          [20.0, 30.0, 1.5]
      ]"/> -->

     <!-- Define the waypoint list as a parameter -->
     <param name="waypoint_frame" value="utm_navsat" />
      <param name="waypoint_list" type="yaml" value="[
          [47.397743, 8.545594, 1.5]
      ]"/>

    <!-- Home: latitude: 47.3975176, longitude: 8.5453274 -->
    <!-- Origin: latitude: 47.3977466, longitude: 8.5455947 -->
    <!-- 2nd Point: latitude: 47.3975202, longitude: 8.5455976 -->

      <remap from="~control_manager_diag_in" to="control_manager/diagnostics" />
      <remap from="~path_out" to="trajectory_generation/path" />
      <remap from="~start_in" to="~start" />

    </node>

  </group>

</launch>
